
{% extends "base.html" %}

{% block head %} register new user {% endblock %}

{% block body %}

<div class=container>
	<div class="row ms-2 mt-2">
        <div class="col-10 col-md-8 col-lg-10">
			<form class="row g-3" action="#", onsubmit="executeTask(event);">
				<div class="mb-1">
  					<h3> View Reports </h3>
		  			<hr>
				</div>

				<div class="col-md-5">	
					<select class="form-select" id="reports-tasks" name="tasks" onchange="selectTask()">
					</select>
				</div>
				
				<div class="col-md-4" id="reports-option1"></div>
				<div class="col-md-3" id="reports-option2"></div>

				<div class="col-12">
					<button type="submit" class="btn btn-primary col-2">Select</button>
					<hr>
				</div>
			</form>
		
			<p id="reports-msg" style="color:tomato"></p>

			<div class="float-end mb-2">
				<a id="reports-btn-xls"  href="#" class="btn invisible" download>
					<button>
						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-bar-down" viewBox="0 0 16 16">
							<path fill-rule="evenodd" d="M3.646 4.146a.5.5 0 0 1 .708 0L8 7.793l3.646-3.647a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 0-.708zM1 11.5a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 0 1h-13a.5.5 0 0 1-.5-.5z"/>
						</svg>
					</button>
				</a>
			</div>
			
			<div class="table-responsive col-md-12">
				<table class="table" id="reports-table">
					<thead id="reports-table-head">
					</thead>

					<tbody id=reports-table-body>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

<script src="{{url_for('static', filename='js/reports.js')}}" defer></script>

{% endblock %}
